* {
	font-family: sans-serif;
	background: black;
	color: lightgray;
}

body {
	margin: 0;
	padding: 0;
/*	height:100%;*/
}

#portada {
	min-height: 100vh;
	background-image: url('redfortuna.jpg');
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

#portada * {
	background-color: rgba(255,255,255,0);
}

#portada .titulo {
	height: 70vh;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}


#portada .titulo h1, #portada .titulo em {
	margin: 3vh 5vw;
	text-shadow: 4em 4em 4em rgba(1, 1, 1, 1); /* Horizontal offset, Vertical offset, Blur radius, Color */
}

#portada .titulo h1 {
	color: #d0c4ae;
	align-self: center;
	width: 80vw;
	font-size: 8vw;
}
#portada .titulo em {
	color: #d0c4ae;
	width: 50%;
	align-self: center;
	/*
	color: #72604c
	 */
}
#portada .links {
width:100%;
display: flex;
justify-content: space-around;
}

#intro {
	margin: 10vh 10vw;
}
/*
#intro {
min-width: 100vw;
max-width: 100vw;
margin: 10vh 10vw;
min-height: 100vh;
max-height: 100vh;
min-height: 100vh;
max-height: 100vh;
overflow-y: scroll;
}
*/
#intro p {
	padding: 1em;
}
#intro figure {
	margin: 5vh auto;
	width: 80%;
}
#intro figure figcaption {
	text-align: center;
}
#intro figure img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

#intro p {
	text-align: justify;
}

ul {
	text-align: center;
	margin: 2vh auto;
	padding-left: 0;
	font-weight: bold;
	list-style-type: none;
}
ul ul {
	font-weight: normal;
	text-align: center;
	padding-left: 0;
}
#letra {
	margin: 10vh 0 0 0;
	padding: 10vh 0;
	background-color: #d0c4ae;
}
#letra * {
	background-color: #d0c4ae;
	color: black;
	text-align: center;
}
#letra h1 {
	margin: 0;
	padding: 5vh 0;
	justify: center;
}

#letras {
	text-align: normal;
	margin: 0;
}

.comentario {
	padding: 1em;
	margin: 5em 1em 1em 1em;
	border-radius: 0.5em;
}

#letras * a {
	float: right;
	font-size: x-small;
}
#letras * .comentario {
	font-size: smaller;
}

#l0, #l0 td, #l0 a {background-color: red/*#e41e1b*/;}
#l0 * {color: white;}
#l0 p.comentario {color: red/*#e41e1b*/;}

#l1, #l1 td, #l1 a {background-color: #e0761f;}
#l1 * {color: black;}
#l1 p.comentario {color: #e0761f;}

#l2, #l2 td, #l2 a {background-color: #d49e2b;}
#l2 * {color: black;}
#l2 p.comentario {color: #d49e2b;}

#l3, #l3 td, #l3 a {background-color: #ead015;}
#l3 * {color: black;}
#l3 p.comentario {color: #ead015;}

#l4, #l4 td, #l4 a {background-color: #7fda25;}
#l4 * {color: black;}
#l4 p.comentario {color: #7fda25;}

#l5, #l5 td, #l5 a {background-color: #41dd22;}
#l5 * {color: black;}
#l5 p.comentario {color: #41dd22;}

#l6, #l6 td, #l6 a {background-color: #1de251;}
#l6 * {color: black;}
#l6 p.comentario {color: #1de251;}

#l7, #l7 td, #l7 a {background-color: #26d99b;}
#l7 * {color: black;}
#l7 p.comentario {color: #26d99b;}

#l8, #l8 td, #l8 a {background-color: #28cad7;}
#l8 * {color: black;}
#l8 p.comentario {color: #28cad7;}

#l9, #l9 td, #l9 a {background-color: #2e75d1;}
#l9 * {color: black;}
#l9 p.comentario {color: #2e75d1;}

#l10, #l10 td, #l10 a {background-color: #1a21e5;}
#l10 * {color: white;}
#l10 p.comentario {color: white;}

#l11, #l11 td, #l11 a {background-color: #6918e7;}
#l11 * {color: white;}
#l11 p.comentario {color: #6918e7;}

#l12, #l12 td, #l12 a {background-color: #9a0ef1;}
#l12 * {color: white;}
#l12 p.comentario {color: #9a0ef1;}

#l13, #l13 td, #l13 a {background-color: #d01be4;}
#l13 * {color: black;}
#l13 p.comentario {color: #d01be4;}

#l14, #l14 td, #l14 a {background-color: #da25b2;}
#l14 * {color: black;}
#l14 p.comentario {color: #da25b2;}

#l15, #l15 td, #l15 a {background-color: #c73884;}
#l15 * {color: black;}
#l15 p.comentario {color: #c73884;}

#l16, #l16 td, #l16 a {background-color: #d32c57;}
#l16 * {color: black;}
#l16 p.comentario {color: #d32c57;}

#l0, #l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9, #l10, #l11, #l12, #l13, #l14, #l15, #l16 {
  padding: 0.6em;
}

.seccion {
	font-size: x-large;
	margin: 0;
}
.traduccion {
	font-style: italic;
	font-weight: normal;
	font-size: large;
}	
table {
	width: 100%;
	border-collapse: collapse;
	/*border-spacing: 1em;*/
}
th, td {
	width: 50%; /* Set each column width to 50% */
}
td {
padding: 0.3em 0.4em;
vertical-align: top;
}

.scrollable {
height: 100vh;
overflow-y: scroll;
}

.hidden {
	display: none;
}

#letra * .disabled {
	color: gray;
}

#fin {
	display: flex;
	min-height: 90vh;
	/*max-height: 100vh;*/
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin: auto;
}
#fin a {
	display: flex;
	justify-content: center;
	align-content: center;
	/*flex-direction: column;*/
	width: auto;
	text-align: center;
}
#fin * img {
	max-height: 80vh;
	max-width: 80vw; 
}
